# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AI_for_lab.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Desktop\Unity proj\AI_for_lab\.idea\.idea.AI_for_lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
