# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Recreated_AI.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\Desktop\Unity proj\Recreated_AI\.idea\.idea.Recreated_AI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
